<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiliao.mybatis.mapper.info.AggrMapper">
  <resultMap id="BaseResultMap" type="com.zhiliao.mybatis.model.info.Aggr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="datum_id" jdbcType="VARCHAR" property="datumId" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>